<html>
  {{ template "html-header" }}
  <body class="bg-aqua">
    {{ template "header" }}
    <div class="body">
      <h2 class="mg-b-16"><a class="cl-blue" href="/dbs/{{.DBName }}">{{.DBName }}</a></h2>
      <div class="flex-col">
        <div class="w-mx-1000 mg-b-md">
          <div class="db-list">
            <div class="db-row db-header">shell</div>

            <div class="db-row"><input class="w-100 bg-0 c-gy pd-8 f-sz-16 mono" type="text" id="mksql-shell" value="{{ .DefaultQ }}" /></div>

            <div class="db-row hide shell-result">
              <pre id="terminal-result"></pre>
            </div>
            <div class="db-row hide shell-result">
              <pre id="terminal-status"></pre>
            </div>
          </div>
        </div>
        <div class="w-mx-1000 mg-b-md">
          <div class="db-list">
            <div class="db-row db-header">API</div>
            <div class="db-row">
              <form class="w-100" method="GET" action="/q">
                <div class="mg-tb-8">
                  <div class="mg-b-md"><label class="bold" for="input-q">query</label></div>
                  <textarea id="input-q" class="w-100 ht-150" name="q">{{ .DefaultQ }}</textarea>
                </div>
                <div class="flex space-between mg-tb-8">
                  <label class="bold" for="input-db">database</label>
                  <span>{{ .DBName }}</span>
                  <input type="hidden" name="db" value="{{.DBName}}" />
                </div>
                <div class="flex space-between mg-tb-8">
                  <label class="bold" for="input-fmt">response format</label>
                  <select id="input-fmt" name="fmt">
                    <option value="col">text columns</option>
                    <option value="json/obj">json objects</option>
                    <option value="json/arr">json arrays</option>
                    <option value="html">html</option>
                    <option value="csv">csv</option>
                  </select>
                </div>
                <div class="flex end mg-tb-8">
                  <input class="new-button" type="submit" value="query" />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="w-mx-1000">
          <div class="db-list">
            <div class="db-row db-header">schema</div>
            <div class="db-row"><pre class="pre-wrap">{{ .DBSchema }}</pre></div>
          </div>
        </div>
      </div>
    </div>
    <script>
      window.DB_NAME = {{.DBName}}
    </script>
    {{ template "footer" }}
  </body>
</html>
