<html>
  {{ template "html-header" }}
  <body class="bg-aqua">
    {{ template "header" }}
    <div class="body">
      <div class="flex-col">
        <div class="w-mx-1000">
          <div class="db-list mg-b-16">
            <div class="db-row db-header">create a database</div>
            <div class="db-row">
              <form class="w-100 mg-0" method="POST" action="/dbs:create" enctype="multipart/form-data">
                <input type="hidden" name="fmt" value=".csv" />
                <div class="mg-b-8">
                  <input class="pd-8 w-100 bd-rd-3 bd-sm" placeholder="database name" name="name" type="text" />
                </div>
                <hr class="mg-b-8" />
                <div class="mg-b-8">
                  <input class="pd-8 w-100 bd-rd-3 bd-sm" placeholder="URL" name="url" type="text" />
                </div>
                <div>OR</div>
                <div class="mg-b-8">
                  <input class="ft-sz-14 pd-8 bd-rd-3 bd-sm w-100" id="input-files" name="file" type="file" />
                </div>
                <div class="flex-end">
                  <div class="mg-b-8 flex-end"><input class="new-button" type="submit" value="create" /></div>
                </div>
              </form>
            </div>
          </div>
          <div class="db-list">
            <div class="db-row db-header">what's next</div>
            <div class="db-row">
              <ul>
                <li><strike>import .csv</strike></li>
                <li>import .tsv</li>
                <li>import .xls</li>
                <li>import .zip of JSON</li>
                <li>import Google Sheet</li>
                <li>import Airtable</li>
                <li>sync with AWS</li>
                <li>sync with GitHub</li>
                <li>...</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ template "footer" }}
  </body>
</html>
