<html>
  {{ template "html-header" }}
  <body class="bg-aqua">
    {{ template "header" }}
    <div class="body">
      <div class="flex-col">
        <div class="w-mx-1000">
          <div class="mg-b-8 flex-end"><a class="new-button" href="/dbs:create">new</a></div>
          <div class="db-list">
            <div class="db-row db-header">databases</div>
            {{ if .DBs }} {{ range $n := .DBs }}
            <div class="db-row"><a href="/dbs/{{$n.Name}}">{{ $n.Name }}</a> ({{ $n.Size }})</div>
            {{ end }} {{ else }}
            <div class="db-row">
              <span>no databases ... <a href="/dbs:create">create a new one</a>!</span>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    {{ template "footer" }}
  </body>
</html>
